*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.leftContainer{
    width: 50%;
    height: 100%;
    border-radius: 3px;
    background-color: #d1dce7;
    /* display: flex; */
    
}

.color-and-text{
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textarea{
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.color{
    margin-left: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.btn{
    margin-top: 5%;
    margin-left: 40%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.rightContainer{
    width: 50%;
    height: 100%;
}

.heading{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.rightContainerNotes{
    margin-left: 20px;
}

.notesNotAdded{
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}